.carousel-container {
  padding: 1.25rem;
  max-width: 75rem;
  margin: 5rem auto 0 auto;
}

.carousel-container h2 {
  margin-bottom: 0.9375rem;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 4rem;
}

.category-card {
  padding: 0.625rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.category-card img {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  height: 9.375rem;
  margin-bottom: 0.625rem;
}

.category-card p {
  padding: 0.9375rem 0.625rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
}

.category-card:hover {
  transform: scale(1.05);
}
